*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --color-primario:blue;
    --color-secundario:rgb(5, 111, 231);
    --color-terciario:rgb(28, 59, 158);
    --color--textos:rgb(34, 51, 150);
    --color--textos-hover:rgb(13, 95, 149);
    --tamaño--titulo:2.5em ;
    --tamaño-texto-nav:30px;
}
body{
    font-family: "Roboto",sans-serif;
}

/* estilos header */
.header{
    position: relative;
    background: url(../img/imginventario.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color--textos);
}



.contenedor-nav{
    position: fixed;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.contenedor-logo{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 30px;
}
.contenedor-logo img{
    height: 40px;
    
}
.nav-header ul{
    display: flex;
    list-style: none;
    gap:30px;
}
.nav-header a{
    text-decoration: none;
    font-size:var(--tamaño-texto-nav) ;
    color: var(--color--textos);
}
.nav-header a:hover{
    color: var(--color--textos-hover);
}


/* seciones intermedias */

.contenedor{
    height: 100vh;
    background-color: var(--color-secundario);
    margin: 15px;
    position: relative;
    
  
}
.contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

    

.texto{
    position: absolute;
    bottom: 10px;   /* distancia desde abajo */
    left: 20px;     /* distancia desde la izquierda */
    color: white;
    background: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
    padding: 15px;
    max-width: 600px;
}

